body {
    margin-top: 70px;
    background-color: rgb(138, 136, 136);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
 
.first_task {
    margin: 0 30px;
}

.first_task .container .d-flex {
    display: flex;
    justify-content: center;
}

.length_left {
margin: 10px;
}

.length_right {
margin: 10px;
}

label {
font-size: 20px;
color: #cec4f7;
}

input {
    margin-top: 10px;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: 1px #fff;
    padding: 5px;
    color: #000;
}

input:focus {
    box-shadow: 0 0 1px 3px #cec4f7;
    outline: none;
}

.list {
    font-size: 15px; 
    font-family: sans-serif; 
    font-weight: 200; 
    margin-top: 10px;
    border-radius: 5px;
}

.list:hover {
    border-color: #cec4f7;
}

.list:focus { 
    box-shadow: 0 0 1px 3px #cec4f7;
    outline: none;
   } 
